.navbar{
    background: rgb(240, 176, 58);
    color: black;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-around;


}

.navbar:hover{
    background: rgb(224, 8, 116);
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.5);
}
h1{
    width: 100%;
    flex-wrap: wrap;
    text-align: center;
}
.content{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: rgb(248, 223, 185);
    align-items: center;

}
.news{
    display: flex;
    flex-direction: column;
    width: 33%;
    align-items: center;
}
.content > p{
    width: 100%;
}
#breaking{
    order: -2;
    width: 100%;
    text-align: center;
}
#breaking>p{

    width: 35%;
}
#breaking>h3{
    font-size: 45px;
}